<div id='searchsection'>
  <input type='text' name= 'searchBar' id='searchBar' placeholder='Search'/>
 <button class ='library-searchButton' id= 'button'>Library Search</button>
 <button class ='shopping_mall-searchButton' id= 'button'>Shopping Mall Search</button>
 <button class ='police_station-searchButton' id= 'button'>Police Station Search</button>  
</div>
<div>
  <p class = "name"></p>
  <p class = "address"></p>
  <p class = "open"></p>

<script src = "/javascript/places-api.js"></script>