<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Safer Sale</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<body>
  <div class="wrapper">
    <header>

<div class="off-canvas ecommerce-header-off-canvas position-left" id="ecommerce-header" data-off-canvas>
<div class="off-canvas-content" data-off-canvas-content>
  <div class="ecommerce-header-top show-for-large">
    <div class="row align-justify">
      <div class="ecommerce-header-top-message">
       Safer Sale: Sell your stuff online Safer
      </div>
      <div class="ecommerce-header-top-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Create an Account</a></li>
          <li><a href="/dashboard">My Account</a></li>
          <li><a href="/login">Logout</a></li>
          <li><a href="/dashboard">The Mission</a></li
          <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button search-button">Search</button></li>
        </ul>
          <li><a href="#" target="_blank"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for Shopping!
    </footer>
  </div>
  
  {{!-- {{#if loggedIn}} --}}
  <script src="/javascript/logout.js"></script>
  {{!-- {{/if}} --}}
</body>

</html>