<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Safer Sale</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
    integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous" />
</head>
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<div class="header">
  <a href="/" class="logo">Safer Sale</a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/login">My Account</a>
    <a href="/signup">Sign Up</a>
    <a href="#about">About Us</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/">logout</a>
<div id="searchsection">
  <input type="text" name= "searchBar" id='searchBar' placeholder='Search'/>
 <button id='searchButton'>Search</button> 
</div>


  </div>

  <div>
    <h1>The safer place to sell your stuff</h1></br>
    <!--add this to the about us page
    <p>One person's junk is another's treasure and we are dedicated to helping you perform those transactions safely</p>-->
  </div>

</body>

</html>

<body>

  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
    <!--Thanks for Shopping!-->
  </footer>
  </div>

  {{!-- {{#if loggedIn}} --}}
  <script src="/javascript/logout.js"></script>
  <script src='/javascript/search.js'></script>
  {{!-- {{/if}} --}}
</body>

</html>