<input id ='input-searched-city'>
<div></div>
<script 
    async
    src="https://maps.googleapis.com/maps/api/place/nearbysearch/js?key=AIzaSyBBlNIHoJ1O1S0XMqeTTKXXISgTn6y3rbA&&libraries=places&callback=initMap">
    </script>
