<h1>this is the user dashboard, where they can post what they have for sale.</h1>



<form class="signup-form">
  <div>
    <label for="username-signup">Item for Sale</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Description: </label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Price: </label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="password-signup">Price: </label>
    <input type="password" id="password-signup" />
  </div>

  <div>
    <button type="submit">Post</button>
  </div>
</form>


{{!-- {{#each Post}}
<div class="product-card">
  <div class="product-card-thumbnail">
    <a href="#"><img src="https://placehold.it/180x180"/></a>
  </div>
  <h2 class="product-card-title"><a href="#">{{product_name}}</a></h2>
  <span class="product-card-desc">this is just a test</span>
  <span class="product-card-price">{{this.price}}</span><span class="product-card-sale"></span>
  <div class="product-card-colors">
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
  </div>
</div>
{{/each}} --}}