




<link rel="stylesheet" href="/stylesheets/login.css">
<link rel="stylesheet" href="/stylesheets/post.css">


<section class="signup-form">

  <form action="/api/posts" enctype="multipart/form-data" method="post" class="callout text-center">
    <h2>Sell Your Stuff</h2>
    <div class="floated-label-wrapper">
      <label for="Title">Title</label>
      <input type="text" id="full-name" placeholder="Title" name="title" />
    </div>
    <div class="floated-label-wrapper">
      <label for="Price">Price</label>
      <input type="text" placeholder="Price" name="price" />
    </div>
    <div class="floated-label-wrapper">
      <label for="Description">Description</label>
      <textarea class="field-style" placeholder="Item Description" name="description"></textarea>
    </div>
    <!--testing the photo upload div to get "no file chosen" or the name of the file to display
    <form class="floated-label-wrapper">
      <input type="file" id="file-upload" name="file-to-upload" required />
      <label for="file-upload">Select image</label>
      <div id="file-upload-filename"></div>
    </form>-->
    <div class="floated-label-wrapper">
      <input style="color: black" type="file" name="file-to-upload" id="file-upload" required />
      <label for="file-to-upload">Select image:</label>
    </div>
    <input class="button expanded" type="submit" value="Add Item">
  </form>
</section>


{{#if posts.length}}
<section>
  <h2>Your Items for Sale</h2>
  <ol>
    {{#each posts}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

