<link rel="stylesheet" href="/stylesheets/login.css">
<link rel="stylesheet" href="/stylesheets/post.css">


<section class="signup-form">

  <form action="/api/posts" enctype="multipart/form-data" method="post" class="callout text-center">
    <h2>Sell Your Stuff</h2>
    <div class="floated-label-wrapper">
      <label for="Title">Title</label>
      <input type="text" id="full-name" placeholder="Title" name="title" />
    </div>
    <div class="floated-label-wrapper">
      <label for="Price">Price</label>
      <input type="text" placeholder="Price" name="price" />
    </div>
    <div class="floated-label-wrapper">
      <label for="Description">Description</label>
      <textarea class="field-style" placeholder="Item Description" name="description"></textarea>
    </div>
    <div class="floated-label-wrapper">
      <label for="file-to-upload">Select image:</label>
      <input type="file" name="file-to-upload" name="img" accept="image/*">
    {{!-- </div>
     <label for="img">Select image:
    <input type="file" id="imgUpload" name="img" accept="image/*"> --}}
    <input class="button expanded" type="submit" value="Add Item">
  </form>
</section>
<!--
<form action="/api/posts" enctype="multipart/form-data" method="post" class="form-style-9 new-post-form">
  <ul>
    <li>
      <input type="text" class="field-style field-split align-left" placeholder="Title" name="title" />
    </li>
    <li>
      <input type="text" class="field-style field-split align-left" placeholder="Price" name="price" />
    </li>
    <li>
      <textarea class="field-style" placeholder="Item Description" name="description"></textarea>
      <label for="file-to-upload">Select image:</label>
      <input type="file" name="file-to-upload">
      </div>
    </li>
    <li>
      <input type="submit" value="Add Item" />
    </li>
  </ul>
</form>-->



{{#if posts.length}}
<section>
  <h2>Your Items for Sale</h2>
  <ol>
    {{#each posts}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<!--<script src="/javascript/post-product.js"></script>-->


{{!-- {{#each Post}}
<div class="product-card">
  <div class="product-card-thumbnail">
    <a href="#"><img src="https://placehold.it/180x180" /></a>
  </div>
  <h2 class="product-card-title"><a href="#">{{product_name}}</a></h2>
  <span class="product-card-desc">this is just a test</span>
  <span class="product-card-price">{{this.price}}</span><span class="product-card-sale"></span>
  <div class="product-card-colors">
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30" /></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30" /></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30" /></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30" /></button>
  </div>
</div>
{{/each}} --}}
<script>$(function () {
    var showClass = 'show';

    $('input').on('checkval', function () {
      var label = $(this).prev('label');
      if (this.value !== '') {
        label.addClass(showClass);
      } else {
        label.removeClass(showClass);
      }
    }).on('keyup', function () {
      $(this).trigger('checkval');
    });
  });

</script>