<h1>this is the user dashboard, where they can post what they have for sale.</h1>




<form class="new-post-form">
  <div>
    <label for="item-post">Item for Sale:</label>
    <input type="text" id="item-post" name= "item-post" />
  </div>
  <div>
    <label for="description-post">Description: </label>
    <input type="text" id="description-post" name= "description-post" />
  </div>
  <div>
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">
  </div>
  <div>
    <label for="price-post">Price: $ </label>
    <input type="text" id="price-post" name="price-post" />
  </div>

  <div>
    <button type="submit">Ready for Sale</button>
  </div>
</form>

<script src= "/javascript/post-product.js" ></script>


{{#if posts.length}}
<section>
  <h2>Your Items for Sale</h2>
  <ol>
    {{#each posts}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}



{{!-- {{#each Post}}
<div class="product-card">
  <div class="product-card-thumbnail">
    <a href="#"><img src="https://placehold.it/180x180"/></a>
  </div>
  <h2 class="product-card-title"><a href="#">{{product_name}}</a></h2>
  <span class="product-card-desc">this is just a test</span>
  <span class="product-card-price">{{this.price}}</span><span class="product-card-sale"></span>
  <div class="product-card-colors">
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
  </div>
</div>
{{/each}} --}}