

{{#each posts}}
<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="product-img">
      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{this.title}}</h1>
        <h2>Being Sold by {{user.username}}</h2>
        <p>{{this.description }}</p>
      </div>
      <div class="product-price-btn">
        <p><span>{{this.price}}</span>$</p>
        <button type="button">Contact Seller</button>
        create a listner to create an excrypted email to seller
      </div>
    </div>
  </div>

</body>

</html>
{{/each}}

<h1>This is the homepage, where all products/ services are displayed to be commented and for the sale to be conducted</h1>

