



<form class="post-form">
  <div>
    <label for="item-post">Item for Sale:</label>
    <input type="text" id="item-post" />
  </div>
  <div>
    <label for="description-post">Description: </label>
    <input type="text" id="description-post" />
  </div>
  <div>
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">
    <input type="submit">
  </div>
  <div>
    <label for="price-post">Price: </label>
    <input type="password" id="price-post" />
  </div>

  <div>
    <button type="submit">Ready for Sale</button>
  </div>
</form>
