
.ecommerce-header {
  width: 100%;
  background-color: #fefefe;
}

.ecommerce-header .logo {
  height: 50px;
  width: 160px;
}

.ecommerce-header ul {
  background-color: #fefefe;
}

.ecommerce-header li {
  display: inline-block;
}

.ecommerce-header .nav-links {
  margin-left: 15px;
}

.ecommerce-header a {
  color: #8a8a8a;
  transition: color 0.5s ease;
  display: block;
}

.ecommerce-header a:hover {
  color: #0b0b0b;
  transition: color 0.5s ease;
}

.ecommerce-header input {
  margin-right: 0px;
}

@media screen and (max-width: 74.9375em) {
  .ecommerce-header input {
    width: 150px;
  }
}

.ecommerce-header.top-bar {
  padding-top: 0;
  padding-bottom: 0;
}

.ecommerce-header .button.search-button {
  width: 39px;
  height: 39px;
  background-size: 20px 20px;
  background-image: url("https://placehold.it/20x20");
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0px;
}

.ecommerce-header .menu > .main-nav-link > a {
  padding: 1.5em 0.85em 1.9em 0.85em;
}

.ecommerce-header-top {
  width: 100%;
  height: 40px;
  padding: 8px 20px 10px 20px;
}

.ecommerce-header-top .fa {
  /* color: #fefefe; */
  font-size: 1.5rem;
}

.ecommerce-header-top-message {
  color: white;
  float: left;
}

.ecommerce-header-top-links {
  color: white;
}

.ecommerce-header-top-links ul li {
  display: inline;
  padding-left: 20px;
}

.ecommerce-header-top-links a {
  color: white;
  transition: color 0.5s ease;
}

.ecommerce-header-top-links a:hover {
  color: rgb(42, 222, 48);
  transition: color 0.5s ease;
}

.ecommerce-header-off-canvas {
  background-color: #1935b4;
}

.ecommerce-header-off-canvas .menu {
  padding: 1rem 0;
}



